@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e4e4e7;
}

.dark ::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 999px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #52525b;
}
